.App {
  text-align: center;
}

body {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 10rem;
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myButtons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 33rem;
  width: 15rem;
}

button {
  margin: 1rem 1rem;
  padding: 1rem;
  border: #61dafb solid 2px;
  border-radius: 1rem;
  background-color: #282c34;
  color: #61dafb;
  font-size: large;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

button:hover {
  box-shadow: 0 0 50px #61dafb;
}

.allFlightsContainer {
  height: 100%;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.flightCard {
  margin: 1rem;
  border: 2px solid #61dafb;
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
  color: #61dafb;
  transition: 3s;
}

input,
select {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #282c34;
  color: #61dafb;
  font-size: large;
  text-align: center;
  border: #61dafb solid 2px;
  margin: 1rem 0;
}

.addFlight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 500px) {
  /* .body {
    border: 1px solid #61dafb;
    width: 99vw;
  } */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 90vw;

    /* border: 1px solid #61dafb; */
  }

  .myButtons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: -150px;
    margin-left: 5px;
    width: 20rem;
    /* border: 1px solid #61dafb; */
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 4rem;
    font-size: small;
  }

  .allFlightsContainer {
    font-size: small;
    height: 100%;
    width: 20rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: -450px;
  }

  .flightCard {
    font-size: small;
    margin: 1rem;
    border: 2px solid #61dafb;
    height: 7rem;
    width: 7rem;
    border-radius: 1rem;
    color: #61dafb;
    transition: 3s;
  }

  h3 {
    font-size: small;
  }

  .sortPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -150px;
    margin-bottom: 150px;
  }
  .addFlight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -150px;
    margin-bottom: 150px;
  }

  .sortPanel input,
  select {
    font-size: small;
    width: 10rem;
    margin-top: 0;
  }
  .addFlight input,
  button {
    font-size: small;
    width: 10rem;
    margin-top: 0;
  }
}
